@using Euro2016.Helpers;
@using Euro2016.EntityFramework;

@model List<UsrMatch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index","UsrMatch", FormMethod.Post))
{
    
<input type="submit" value="Sauvegarder" />
<b style="color:green; font-size:12px;">@ViewBag.Message</b>

<table>
    <tr>
        <th>Numéro</th>
        <th>Groupe</th>
        <th>Date</th>
        <th>Phase</th>
        <th>Stade</th>
        <th>Ville</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @for( int i=0; i<Model.Count; i++)
    {
        if(Model[i].Finished == 1) // Le match n'est plus disponible à la saisie car au delà de l'heure.
        {
        <tr>               
            <td>@Html.HiddenFor(model => model[i].Idt)</td>
            <td class="Number">@Html.DisplayFor(model=> model[i].Number)</td>
            <td>@Html.DisplayFor(model => model[i].Groups_Cod)</td>
            <td>@Html.DisplayFor(model => model[i].ScheduleDate)</td>
            <td>@Html.DisplayFor(model => model[i].Phase_Lbl)</td>
            <td>@Html.DisplayFor(model => model[i].Stadium_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Town_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Team_Home_Label)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageHome, "25")</td>
            <td class="ScoreHome">@Html.DisplayFor(model => model[i].HomeScore)</td>
            <td class="ScoreAway">@Html.DisplayFor(model => model[i].AwayScore)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageAway, "25")</td>
            <td>@Html.DisplayFor(model => model[i].Team_Away_Label)</td>
        </tr>
        }
        else
        {
        <tr>               
            <td>@Html.HiddenFor(model => model[i].Idt)</td>
            <td class="Number">@Html.DisplayFor(model=> model[i].Number)</td>
            <td>@Html.DisplayFor(model => model[i].Groups_Cod)</td>
            <td>@Html.DisplayFor(model => model[i].ScheduleDate)</td>
            <td>@Html.DisplayFor(model => model[i].Phase_Lbl)</td>
            <td>@Html.DisplayFor(model => model[i].Stadium_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Town_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Team_Home_Label)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageHome, "25")</td>
            <td class="td.ScoreHomeBet">@Html.TextBoxFor(model => model[i].HomeScore, new { @class="td.ScoreHomeBet", style = "width: 40px;text-align: center;background-color: lightgrey;", maxlength="2", size="2" })</td>
            <td class="td.ScoreAwayBet">@Html.TextBoxFor(model => model[i].AwayScore, new { @class="td.ScoreAwayBet", style = "width: 40px;text-align: center;background-color: lightgrey;", maxlength="2", size="2" })</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageAway, "25")</td>
            <td>@Html.DisplayFor(model => model[i].Team_Away_Label)</td>
        </tr>
        }
    }
    
</table>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}