@using Euro2016.Helpers;

@model List<Euro2016.DatabaseEF.UsrMatch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index", "UsrMatch", FormMethod.Post))
{
    
<p><input type="submit" value="Sauvegarder" /></p>
<p style="color:green; font-size:12px;">@ViewBag.Message</p>

<table>
    <tr>
        <th>Numéro</th>
        <th>Groupe</th>
        <th>Date</th>
        <th>Phase</th>
        <th>Stade</th>
        <th>Ville</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        if (Model[i].Finished == 1) // Le match n'est plus disponible à la saisie car au delà de l'heure.
        {
        <tr>               
            <td>@Html.HiddenFor(model => model[i].Idt)</td>
            <td class="Number">@Html.DisplayFor(model => model[i].Number)</td>
            <td>@Html.DisplayFor(model => model[i].Groups_Cod)</td>
            <td>@Html.DisplayFor(model => model[i].ScheduleDate)</td>
            <td>@Html.DisplayFor(model => model[i].Phase_Lbl)</td>
            <td>@Html.DisplayFor(model => model[i].Stadium_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Town_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Team_Home_Label)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageHome, "25")</td>
            <td>@Html.DisplayFor(model => model[i].HomeScore)</td>
            <td>@Html.DisplayFor(model => model[i].AwayScore)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageAway, "25")</td>
            <td>@Html.DisplayFor(model => model[i].Team_Away_Label)</td>
        </tr>
        }
        else
        {
        <tr>               
            <td>@Html.HiddenFor(model => model[i].Idt)</td>
            <td class="Number">@Html.DisplayFor(model => model[i].Number)</td>
            <td>@Html.DisplayFor(model => model[i].Groups_Cod)</td>
            <td>@Html.DisplayFor(model => model[i].ScheduleDate)</td>
            <td>@Html.DisplayFor(model => model[i].Phase_Lbl)</td>
            <td>@Html.DisplayFor(model => model[i].Stadium_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Town_Name)</td>
            <td>@Html.DisplayFor(model => model[i].Team_Home_Label)</td>
            <td class="ImageHome">@Html.Image(Model[i].ImageHome, "25")</td>
            <td >@Html.EditorFor(model => model[i].HomeScore)</td> <!--, new { class ="ScoreHomeBet"})</td> -->
            <td >@Html.EditorFor(model => model[i].AwayScore)</td> <!--, new { class ="ScoreAwayBet"})</td> -->
            <td class="ImageHome">@Html.Image(Model[i].ImageAway, "25")</td>
            <td>@Html.DisplayFor(model => model[i].Team_Away_Label)</td>
        </tr>
        }
    }
    
</table>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}