@model IEnumerable<Euro2016.UsrMatch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usr_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groups_Cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phase_Lbl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stadium_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team_Home_Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score_Home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team_Away_Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageAway)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score_Away)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(i => i.Finished == 1).OrderBy(i => i.Number)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usr_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groups_Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phase_Lbl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stadium_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_Home_Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score_Home)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_Away_Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageAway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score_Away)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchIsFullFilled)
        </td>
        <td>
        </td>
    </tr>
}
    <tr></tr>
@foreach (var item in Model.Where(i => i.Finished == 0).OrderBy(i => i.Number)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usr_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groups_Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phase_Lbl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stadium_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_Home_Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score_Home)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_Away_Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageAway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score_Away)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchIsFullFilled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idt })
        </td>
    </tr>
}

</table>
